.scannerwork/**
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/ipch/**
apidoc/**
**/dist
**/deps
**/build
**/*BAK
**/*.OLD
tuto-samples/tables.txt
tuto-samples/*/sizes.txt
tuto-samples/fastarduino/errors
new-examples-data.xlsx
sizes-diff.xlsx
